# 1.首先，在workflow文件中定义触发器，例如每次推送到主分支时触发同步操作。
# 工作流名称
name: Sync Image to Aliyun  Example
 
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
 
# 2.添加一个job来执行同步操作。在workflow文件中，添加一个job 并指定使用的操作系统环境。
# 工作流程任务（通常含有一个或多个步骤）
jobs:
  build:
    runs-on: ubuntu-latest
 
    # 在job中添加步骤来执行同步操作。在上述job中，添加步骤来执行skopeo命令，从docker.io仓库拉取镜像，并将其推送到阿里云个人仓库。
    steps:
    - name: Git pull
      uses: actions/checkout@v3
 
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1
      
    # 设置项目Secrets以提供Docker Hub登录所需的用户名和密码。
    - name: Login to Docker Hub
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{secrets.DOCKER_USERNAME}}
        password: ${{secrets.DOCKER_PASSWORD}}
        logout: false
 
    # 使用shell命令批量同步所需的镜像到阿里云个人仓库中  
    - name: Use Skopeo Tools Sync Image to Docker Hub
      run: |
         # 使用 skopeo 工具将镜像同步到阿里云个人仓库中，使用时请自行源和目标修改仓库名称和镜像名称  
         #skopeo   copy docker://docker.io/bitnami/redmine:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/redmine:latest
         #skopeo copy --override-arch amd64 docker://docker.io/linshellfeng/datax_web:3.0.1 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/datax_web:3.0.1
         #skopeo copy --override-arch arm64 docker://docker.io/linshellfeng/datax_web:3.0.1 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/datax_web:3.0.1
         #skopeo copy  docker://docker.n8n.io/n8nio/n8n:nightly-arm64 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/n8n:nightly-arm64
         ################################## nginx ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/bitnami/nginx:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/nginx:latest
         #skopeo copy --override-arch amd64 docker://docker.io/bitnami/nginx:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/nginx:latest
         ################################## busybox ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/busybox:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/busybox:latest
         #skopeo copy --override-arch amd64 docker://docker.io/busybox:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/busybox:latest
         ################################## weaviate ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/semitechnologies/weaviate:1.27.0 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/weaviate:1.27.0
         #skopeo copy --override-arch amd64 docker://docker.io/semitechnologies/weaviate:1.27.0 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/weaviate:1.27.0
         ################################## postgres:15-alpine ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/postgres:15-alpine docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/postgres:15-alpine
         #skopeo copy --override-arch amd64 docker://docker.io/postgres:15-alpine docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/postgres:15-alpine
         ################################## langgenius/dify-api:1.11.4 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/langgenius/dify-api:1.11.4 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/dify-api:1.11.4
         #skopeo copy --override-arch amd64 docker://docker.io/langgenius/dify-api:1.11.4 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/dify-api:1.11.4
         ################################## langgenius/dify-web:1.11.4 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/langgenius/dify-web:1.11.4 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/dify-web:1.11.4
         #skopeo copy --override-arch amd64 docker://docker.io/langgenius/dify-web:1.11.4 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/dify-web:1.11.4
         ################################## langgenius/dify-sandbox:0.2.12 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/langgenius/dify-sandbox:0.2.12 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/dify-sandbox:0.2.12
         #skopeo copy --override-arch amd64 docker://docker.io/langgenius/dify-sandbox:0.2.12 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/dify-sandbox:0.2.12
         ################################## langgenius/dify-plugin-daemon:0.5.2-local ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/langgenius/dify-plugin-daemon:0.5.2-local docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/dify-plugin-daemon:0.5.2-local
         #skopeo copy --override-arch amd64 docker://docker.io/langgenius/dify-plugin-daemon:0.5.2-local docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/dify-plugin-daemon:0.5.2-local
         ################################## ubuntu/squid:latest ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/ubuntu/squid:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/squid:latest
         #skopeo copy --override-arch amd64 docker://docker.io/ubuntu/squid:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/squid:latest

         ################################## certbot/certbot:latest ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/certbot/certbot:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/certbot:latest
         #skopeo copy --override-arch amd64 docker://docker.io/certbot/certbot:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/certbot:latest
         ################################## oceanbase/oceanbase-ce:4.3.5-lts ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/oceanbase/oceanbase-ce:4.3.5-lts docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/oceanbase-ce:4.3.5-lts
         #skopeo copy --override-arch amd64 docker://docker.io/oceanbase/oceanbase-ce:4.3.5-lts docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/oceanbase-ce:4.3.5-lts
         ################################## oceanbase/seekdb:latest ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/oceanbase/seekdb:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/seekdb:latest
         #skopeo copy --override-arch amd64 docker://docker.io/oceanbase/seekdb:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/seekdb:latest
         ################################## langgenius/qdrant:v1.8.3 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/langgenius/qdrant:v1.8.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/qdrant:v1.8.3
         #skopeo copy --override-arch amd64 docker://docker.io/langgenius/qdrant:v1.8.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/qdrant:v1.8.3
         ################################## pgvector/pgvector:pg16 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/pgvector/pgvector:pg16 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/pgvector:pg16
         #skopeo copy --override-arch amd64 docker://docker.io/pgvector/pgvector:pg16 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/pgvector:pg16

         ################################## vastdata/vastbase-vector:latest ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/vastdata/vastbase-vector:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/vastbase-vector:latest
         #skopeo copy --override-arch amd64 docker://docker.io/vastdata/vastbase-vector:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/vastbase-vector:latest
         ################################## pgvector/pgvector:pg16 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/pgvector/pgvector:pg16 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/pgvector:pg16
         #skopeo copy --override-arch amd64 docker://docker.io/pgvector/pgvector:pg16 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/pgvector:pg16
         ################################## tensorchord/pgvecto-rs:pg16-v0.3.0 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/tensorchord/pgvecto-rs:pg16-v0.3.0 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/pgvecto-rs:pg16-v0.3.0
         #skopeo copy --override-arch amd64 docker://docker.io/tensorchord/pgvecto-rs:pg16-v0.3.0 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/pgvecto-rs:pg16-v0.3.0
         ################################## ghcr.io/chroma-core/chroma:0.5.20 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/ghcr.io/chroma-core/chroma:0.5.20 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/chroma:0.5.20
         #skopeo copy --override-arch amd64 docker://docker.io/ghcr.io/chroma-core/chroma:0.5.20 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/chroma:0.5.20
         ################################## intersystems/iris-community:2025.3 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/intersystems/iris-community:2025.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/iris-community:2025.3
         #skopeo copy --override-arch amd64 docker://docker.io/intersystems/iris-community:2025.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/iris-community:2025.3
         ################################## milvusdb/milvus:v2.6.3 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/milvusdb/milvus:v2.6.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/milvus:v2.6.3
         #skopeo copy --override-arch amd64 docker://docker.io/milvusdb/milvus:v2.6.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/milvus:v2.6.3
         ################################## opensearchproject/opensearch:latest ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/opensearchproject/opensearch:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/opensearch:latest
         #skopeo copy --override-arch amd64 docker://docker.io/opensearchproject/opensearch:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/opensearch:latest
         ################################## opensearchproject/opensearch-dashboards:latest ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/opensearchproject/opensearch-dashboards:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/opensearch-dashboards:latest
         #skopeo copy --override-arch amd64 docker://docker.io/opensearchproject/opensearch-dashboards:latest docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/opensearch-dashboards:latest
         ################################## opengauss/opengauss:7.0.0-RC1 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/opengauss/opengauss:7.0.0-RC1 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/opengauss:7.0.0-RC1
         #skopeo copy --override-arch amd64 docker://docker.io/opengauss/opengauss:7.0.0-RC1 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/opengauss:7.0.0-RC1
         ################################## myscale/myscaledb:1.6.4 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/myscale/myscaledb:1.6.4 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/myscaledb:1.6.4
         #skopeo copy --override-arch amd64 docker://docker.io/myscale/myscaledb:1.6.4 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/myscaledb:1.6.4
         ################################## matrixorigin/matrixone:2.1.1 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/matrixorigin/matrixone:2.1.1 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/matrixone:2.1.1
         #skopeo copy --override-arch amd64 docker://docker.io/matrixorigin/matrixone:2.1.1 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/matrixone:2.1.1
         ################################## elasticsearch:8.14.3 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/elasticsearch:8.14.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/elasticsearch:8.14.3
         #skopeo copy --override-arch amd64 docker://docker.io/elasticsearch:8.14.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/elasticsearch:8.14.3
         ################################## kibana:8.14.3 ##################################
         #skopeo copy --override-arch arm64 docker://docker.io/kibana:8.14.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/kibana:8.14.3
         #skopeo copy --override-arch amd64 docker://docker.io/kibana:8.14.3 docker://registry.cn-hangzhou.aliyuncs.com/wind_x64/kibana:8.14.3
         skopeo copy --override-arch arm64 docker://docker.io/rizkyr/dify-worker:v1.0.0 docker://registry.cn-hangzhou.aliyuncs.com/wind_arm64/dify-worker:v1.0.0
         
